<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex justify-content-center align-items-center">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <a class="logo logo-dark" routerLink="/">
                    <span class="logo-sm">
                        <img alt="" height="40" src="assets/images/logo.svg">
                    </span>
                    <span class="logo-lg">
                        <img alt="" height="40" src="assets/images/logo.svg"> <span class="logo-txt">Wash-HCF</span>
                    </span>
                </a>

                <a class="logo logo-light" routerLink="/">
                    <span class="logo-sm">
                        <img alt="" height="40" src="assets/images/logo.svg">
                    </span>
                    <span class="logo-lg">
                        <img alt="" height="40" src="assets/images/logo.svg"> <span
                            class="logo-txt">Wash-HCF</span>
                    </span>
                </a>
            </div>

            <button (click)="toggleMobileMenu($event)" class="btn btn-sm px-3 font-size-16 header-item"
                    id="vertical-menu-btn"
                    type="button">
                <i class="fa fa-fw fa-bars"></i>
            </button>
            <div class="app-search d-block ">
                <h4>{{title | translate}}</h4>
            </div>

        </div>

        <div class="d-flex justify-content-center align-items-center">
            <div class="dropdown  d-sm-inline-block" ngbDropdown>
                <button aria-expanded="false" aria-haspopup="true" class="btn header-item rounded herder-item-light"
                        data-bs-toggle="dropdown"
                        ngbDropdownToggle type="button">
                    <img *ngIf="selectedLanguage" alt="Header Language" class="" height="16"
                         src="{{selectedLanguage.flag}}">
                    <span class="align-middle ms-2">{{selectedLanguage.text}}</span>
                </button>
                <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                    <ng-container *ngFor="let item of listLang">
                        <a (click)="setLanguage(item)"
                           *ngIf="selectedLanguage.lang !== item.lang"
                           [ngClass]="{'active': selectedLanguage === item}"
                           class="dropdown-item notify-item"
                           href="javascript:void(0);">
                            <img alt="user-image" class="me-1" height="12"
                                 src="{{item.flag}}"> <span
                                class="align-middle">{{item.text}}</span>
                        </a>
                    </ng-container>

                </div>
            </div>

            <div class="dropdown d-inline-block" ngbDropdown>
                <button aria-expanded="false" aria-haspopup="true"
                        class="btn header-item  d-flex justify-content-center align-items-center"
                        data-bs-toggle="dropdown" id="page-header-user-dropdown"
                        ngbDropdownToggle
                        type="button">
                <span class="text-end">
                  <span class="d-none d-md-inline-block me-1 fw-medium text-secondary fw-bolder">{{authService.user?.name}}
                  </span>
                </span>
                    <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>

                    <a (click)="logout()" class="dropdown-item" href="javascript: void(0);"><i
                            class="mdi mdi-logout text-muted font-size-16 align-middle me-1"></i> <span
                            class="align-middle" key="t-logout">{{ 'LOGOUT' |translate}}</span></a>
                </div>
            </div>

        </div>
    </div>
</header>
