<div class="row">
    <div class="container-all-dataTable   ">
        <div class="table-scroll-area" *ngIf="!dataOfTable.isLoading">
            <div class="value-table float-start"
                 [ngClass]="{'full' : (!dataOfTable.options.isHaveAction  && !dataOfTable.options.isHaveDetails)|| dataOfTable.data.length == 0}">
                <table class="table table-striped">
                    <thead>
                    <tr>

                        <th class="w-30" *ngFor="let col of dataOfTable.headers"
                            [class.cursor-pointer]="col.sortingColumn">
                            {{col.display | translate }}
                            <span *ngIf="col.sortingColumn">
                  <i class="fa-solid fa-arrow-up-long"
                     [class.sort-active]=" sortingColumn && col.sortingColumn == sortingColumn && !isAscSorting"></i>
                  <i class="fa-solid fa-arrow-down-long"
                     [class.sort-active]="  sortingColumn &&col.sortingColumn == sortingColumn && isAscSorting"></i>
                </span>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let row of dataOfTable.data | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageIndex + 1, totalItems: dataOfTable.dataCount};let index = index; trackBy: trackByFn">

                        <td *ngFor="let column of dataOfTable.headers; let i = index"
                            #popover="ngbPopover"
                            placement="bottom"
                            container="body"
                            (mouseenter)="isEllipsisActive($event,popover)"
                            [ngbPopover]="dataContainer" triggers="mouseenter:mouseleave">
                            <ng-container [ngTemplateOutlet]="dataContainer"></ng-container>
                            <ng-template [ngSwitch]="column.type" #dataContainer>
                                <span *ngIf="column.canCopy && row[column.key]">
                                    <button *ngIf="!row.isCopy" (click)="onCopyValue(row[column.key])"
                                            class="btn btn-rounded btn-soft-secondary btn-sm">
                                        <i class="far fa-copy"></i>
                                    </button>

                                </span>
                                <span *ngSwitchCase="HeaderTypes.Any">
                                 <span
                                         *ngIf="row[column.key];else emptyTemplate"> {{ row[column.key] | translate}}  </span>
                                </span>
                                <span *ngSwitchCase="HeaderTypes.Date" dir="ltr">
                                {{ row[column.key] | date: 'mediumDate' }}
                                </span>
                                <span *ngSwitchCase="HeaderTypes.Currency">
                                {{ row[column.key] | currency:'':''}}  {{'GENERAL.AED' | translate}}
                                </span>
                                <span  *ngSwitchCase="HeaderTypes.MoneyUpdate" class="{{column.customClass}} fw-bolder">
                                        <span class="text-danger"
                                              *ngIf="row['transactionTypeFlag'] && row['transactionTypeFlag'] == 'D' ">
                                            -  {{ row[column.key] | currency:'':''}}  {{'GENERAL.AED' | translate}}</span>
                                        <span class="text-success"
                                              *ngIf="row['transactionTypeFlag'] && row['transactionTypeFlag'] == 'C' ">
                                            +  {{ row[column.key] | currency:'':''}}  {{'GENERAL.AED' | translate}}</span>

                                </span>
                                <span *ngSwitchCase="HeaderTypes.Status" class="{{column.customClass}}">
                                    <span class="rounded-pill badge bg- p-2 badge-soft-primary"   >
                                        {{ row[column.key] | translate}}
                                    </span>


                                </span>
                                <span *ngSwitchCase="HeaderTypes.DateTime" dir="ltr">
                                {{ row[column.key] | date: 'medium' }}
                                </span>
                                <span *ngSwitchCase="HeaderTypes.Boolean">
                                <!--{{  ? 'True' : 'False'  }} -->
                                    <span *ngIf="row[column.key] == true && column.key != 'locked'"
                                          class="badge-soft-success badge px-3 py-1">
                                            <i class="fas fa-check"></i> {{'GENERAL.YES' | translate}}
                                    </span>
                                    <span *ngIf="row[column.key] == true && column.key == 'locked'"
                                          class="badge-soft-danger badge px-3 py-1">
                                        <i class="fas fa-lock text-danger"></i> {{'GENERAL.YES' | translate}}
                                    </span>
                                    <span *ngIf="row[column.key] != true && column.key == 'locked'"
                                          class="badge-soft-success badge px-3 py-1">
                                             <i class="fas fa-unlock"></i> {{'GENERAL.NO' | translate}}
                                    </span>

                                    <span *ngIf="row[column.key] != true && column.key != 'locked'"
                                          class="badge-soft-danger badge px-3 py-1">
                                        <i class="fas fa-times"></i> {{'GENERAL.NO' | translate}}
                                    </span>
                                </span>
                                <span *ngSwitchDefault> {{ row[column.key]  }}  </span>

                            </ng-template>
                            <ng-template #emptyTemplate><span class="text-warning">N/A</span></ng-template>

                        </td>
                    </tr>
                    <tr *ngIf="dataOfTable.data.length == 0">
                        <td [colSpan]="columnsLength"
                            class="text-center">{{"GENERAL.There's no data on the table" | translate}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="action-table"
                 *ngIf="(dataOfTable.options.isHaveAction || dataOfTable.options.isHaveDetails) && dataOfTable.data.length != 0 ">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="w-100 text-center">
                            <span>&nbsp;{{'GENERAL.ACTIONS' | translate}} </span>
                        </th>
                    </tr>
                    </thead>
                    <tbody class="action-area">
                    <tr *ngFor="let row of dataOfTable.data | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageIndex + 1, totalItems: dataOfTable.dataCount}">
                        <td class=" text-center "
                            *ngIf="(dataOfTable.options.isHaveAction || dataOfTable.options.isHaveDetails)">
                            <div class="d-flex flex-wrap gap-2  align-items-center justify-content-center ">
                                <div class="action-btn cursor-pointer" ngbTooltip="{{action.name | translate}}"
                                     (click)="action.callBack(row)" *ngFor="let action of dataOfTable.actions">
                                    <i class="{{action.iconName}}"></i>
                                </div>
                                <div class="action-btn cursor-pointer" ngbTooltip="{{'GENERAL.DETAILS' | translate}}"
                                     (click)="onViewDetails(row , detailsContent)"
                                     *ngIf="dataOfTable.options.isHaveDetails">
                                    <i class=" fas fa-angle-right"></i>
                                </div>
                            </div>
                            <ng-template #detailsContent let-offcanvas>
                                <div class="offcanvas-header">
                                    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Details</h5>
                                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                            aria-label="Close" (click)="offcanvas.dismiss('dismiss')"></button>
                                </div>
                                <div class="offcanvas-body">

                                </div>
                            </ng-template>

                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
            <div *ngIf="dataOfTable.data.length != 0 && !dataOfTable.isLoading " class="row w-100 px-3">
                <div class="col-sm-12  col-md-3">
                    <form class="pagination-wrapper">
                        <div class="form-group options pages">
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon addon-left mt-1">{{"GENERAL.SHOW"  | translate}} </span>
                                <select class="form-control mx-2 rounded-select" name="pageChangedName"
                                        [(ngModel)]="pageSize"
                                        (ngModelChange)="reloadData(null)">
                                    <option *ngFor="let item of pageSizeOptions">{{ item }}</option>
                                </select>
                                <span class="mt-1">{{'GENERAL.OF' | translate}}  <span
                                        class="fw-bolder">{{dataOfTable.dataCount}}</span> </span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-sm-12 col-md-9 text-end">
                    <form class="pagination-wrapper">
                        <div class="form-group pages">
                            <pagination-controls
                                    class="my-pagination"
                                    id="pager"
                                    (pageChange)="reloadData($event)"
                                    [maxSize]="7"
                                    [directionLinks]="true"
                                    [autoHide]="false"
                                    previousLabel="{{'GENERAL.PREV' | translate}}"
                                    nextLabel="{{'GENERAL.NEXT' | translate}}"
                                    [responsive]="true"
                                    screenReaderPaginationLabel="Pagination"
                                    screenReaderPageLabel="page"
                                    screenReaderCurrentLabel="You're on page">
                            </pagination-controls>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class=" table-scroll-area" *ngIf="dataOfTable.isLoading">
            <table class="table table-striped ">
                <thead>
                <tr>
                    <th *ngFor="let col of dataOfTable.headers">
                        {{col.display | translate }}
                        <span *ngIf="col.sortingColumn">
                  <i class="fa-solid fa-arrow-up-long"
                     [class.sort-active]=" sortingColumn && col.sortingColumn == sortingColumn && !isAscSorting"></i>
                  <i class="fa-solid fa-arrow-down-long"
                     [class.sort-active]="  sortingColumn &&col.sortingColumn == sortingColumn && isAscSorting"></i>
                </span>
                    </th>
                    <th *ngIf="dataOfTable.options.isHaveAction || dataOfTable.options.isHaveDetails">

                    </th>
                </tr>
                </thead>
                <tbody app-table-loader [rows]="+pageSize > 10 ? 10 : +pageSize  ==10? 5: +pageSize "
                       [columns]="columnsLength">

                </tbody>

            </table>
        </div>

    </div>
</div>

