
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .offcanvas-start.show,
  .offcanvas-end.show {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .offcanvas-start.show,
  .offcanvas-end.show {
    width: 80%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .offcanvas-start.show,
  .offcanvas-end.show {
    width: 80%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .offcanvas-start.show,
  .offcanvas-end.show {
    width: 50%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .offcanvas-start.show,
  .offcanvas-end.show {
    width: 40%;
  }
}
